*{
    margin: 0;
    padding: 0;
}
.main-div{
    justify-content: left;
    position: relative;
    top:20px;
    left: 50px;
}
.image-div1{
    width : 20px;
}
ul{
    display: flex;
    
}
.nav-ul{
    display: flex;

    justify-content: center;
}
.nav-li{
    text-decoration: none;
    list-style: none;
    margin-right: 20px;
    display: inline;
}
.nav-link{
    text-decoration: none;
    color: grey;
}
.image-div2{
    width : 20px;
    margin-right: 10px;
}
.image-div22{
    display: flex;
    
    flex-direction: row;
    justify-content: right;
    position: relative;
    top:-30px;
    left:-100px;
}
.container2{
    text-align: center;
    background-image: url(banner-bg.webp);
    background-repeat: no-repeat;

}
.container5cr:hover{
    border: solid black 2px;
}
.freshh1{
    font-size: 2rem;
    text-align: center;
    font-family: sans-serif;
}
.organic{
    color: coral;
}
.subheadingh3{
    font-family: sans-serif;
    color: grey;
}
nav{
    background-color: white;
    font-family: sans-serif;
}
.container3heading1{
    text-align: center;
    font-family: sans-serif;
}
.review{
    color: white;
    background-color: #fcb33c;
}
.shakal{
    width: 80px;
    border-radius: 100%;
    justify-content: center;
}
.card{
    margin:5px;
    background-color: white;
    border-radius: 10px;
}

.shakallorem{
    color: grey;
    font-family: sans-serif;
}
.container3co{
    text-align: center;
}
.container5cr{
    width: 80%;
    background-color: white;
    border-radius: 5px;
    margin: auto;
}

.container3{
    background-color: rgb(230, 227, 227);;
}


.btn {
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    font-family: Arial;
    color: #000000;
    font-size: 15px;
    background: #ffffff;
    padding: 10px 20px 10px 20px;
    border: solid #000000 2px;
    text-decoration: none;
  }
  
  
  .btn:hover {
    background: #fcb33c;
    text-decoration: none;
  }
  .card-image{
    width: 20rem;
    margin: 10px;
    border-radius: 10px;
  }
  .parent-card-div{
    display: flex;
    flex-direction: row;
    margin-left:60px;
    margin-right: 60px;
    text-align: center;
  }
  .card-para{
    font-family: sans-serif;
    color: grey;
    font-size: 15px;
  }
  .vegetable-heading{
    font-family: sans-serif;
  }
  .read{
    text-align: left;
  }
  

  footer{
    background-color: white;
    color: black;
    margin-top: 2rem;
}
.foote{
    text-align: center;
    display: flex;
    justify-content: center;
}
footer h2{
    font-size: 1rem;
}
.foot{
    width: 30vw;
    margin-bottom: 2.5rem;
    text-align: left;
}
.foot h2{
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
}

footer a{
    text-decoration: none;
    color: black;
}
footer a:hover{
    padding-left: 0.3rem;
}
.foot img{
    height: 3vh;
    width: 3vw;
}

  .brand-name{
    font-size: 25px;
    font-weight: 800;
  }
  .nav-link:hover{
    color: #fcb33c;
  }
  .nav-li{
    color: #fcb33c;
  }
  .grofers-organic{
    font-size: 30px;
  }